<main class="content-area">
          <h2>Information Communication Technology and Educational Technology Curricular Laboratory:</h2>
      

          <h3>Laboratory:</h3>
           <p>
           The Laboratory is well furnished and equipped.<br>
            1.	Intel P-IV multimedia 30 computers<br>
            2.	Inkjet printer<br>
            3.	Laser printers
            4.	Dot matrix printers
            5.	Scanner
            6.	LCD<br>
            7.	All computers are connected in LAN.<br>
            8.	Wi – Fi facility is available.<br>


           </p>
           <h3>The projected aids:</h3>
           <p>1.	Over Head Projector<br>
            2.	Slide Projector<br>
            3.	Epidiascope<br>
            4.	LCD
          </p>

           <h3>Other Equipments:</h3>
           <p>
            1.	Video camera<br>
            2.	Tape recorders<br>
            3.	Still photo lense camera<br>
            4.	Still photo digital camera<br>
            5.	Various Cassettes, CD’s, VCD’s ,DVD<br>
            6.	Various Film strips Maps, Charts, Globes, Models, etc.

           </p>

           