<main class="content-area">
          <h2>Language Laboratory</h2>
          <p>The Laboratory is well equipped with Language software   aids and projected aids.</p>
      

          <h3>LIBRARY</h3>
           <p>
           The College has a spacious Library with a good number of book – collection. Our library is partially automated with LIBMAN Library Management System Software. There are more than 25,000 books, different periodicals, encyclopaedia, and journals etc.
          Collection also includes Diploma in School Management, M. Ed. (Regular), M. Phil., Ph. D., dissertations. We also have a reading room with capacity of sixty students which is open throughout the day.



           </p>
           <p>The library is equipped with internet connection & sufficient number of computers and free access to internet for researchers & students.</p>
           
           <h3>Library Status as on 2024</h3>

           <div class="table-wrapper">
            <table class="course-table">
              <thead>
                <tr>
                  <th>Particulars</th>
                  <th>Number/th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Total  Books (All sections)</td>
                  <td>29412 </td>
                
                </tr>
                <tr>
                  <td>Total periodicals/journals</td>
                  <td>14</td>
                  
                </tr>
                <tr>
                  <td>Total e-Books</td>
                  <td>6000</td>
                  
                </tr>
                <tr>
                  <td>Total e-Journals</td>
                  <td>3135000 </td>
                  
                </tr>
                <tr>
                  <td>Computer systems</td>
                  <td>05</td>
                  
                </tr>
                <tr>
                  <td>Printer</td>
                  <td>01</td>
                 
                </tr>
                <tr>
                  <td>Scanner</td>
                  <td>01</td>
                 
                </tr>
                <tr>
                  <td>Ph.D. Thesis</td>
                  <td>65</td>
                </tr>

                <tr>
                  <td>M.Phil. Thesis</td>
                  <td>45</td>
                  
                </tr>
                <tr>
                  <td>M.Ed. Dissertations</td>
                  <td>More than 150</td>
                  
                </tr>
                <tr>
                  <td>Encyclopedias</td>
                  <td>152</td>
                
                </tr>

                <tr>
                  <td>Dictionary and other references</td>
                  <td>168</td>
                
                </tr>

                <tr>
                  <td>Buch Volumes</td>
                  <td>Volume I to Volume VI  (all research surveys)</td>
                
                </tr>

                <tr>
                  <td>News Papers</td>
                  <td>09</td>
                
                </tr>

              </tbody>
            </table>
          </div>

           <h3>Reading Room </h3>
           <p>
            Library has a specious reading room having seating capacity of 60 students

           </p>

           <h3>Book Bank Facility </h3>
           <p>
            Library provides book bank facility by distributing paper wise books for each semester of every class i.e. B.Ed. and M.Ed. for the whole academic year

           </p>

           <h3>Information regarding e- books and e-journals </h3>
           <p>
            N-List Consortium with e-books – 31, 35000 and e-journals – 6000

           </p>

           <h3>Other important information to be given </h3>
           <p>
            Library has a QR Code for Previous Question Papers, Syllabus and Question Bank.

           </p>

           <h3>QR Code  </h3>
           <p>
            Library department has 3 separate computers in computer section for students using internet and e-resources and for Research Scholars.

           </p>


           <h3>OPAC facility –</h3>
           <p>
            Online Public Access Catalogue is provided to students through LIBMAN software for searching books.

           </p>


           <h3>Other important information to be given </h3>
           <p>
            Orientation programme is conducted every year for the fresh students and all information regarding library and N-LIST is given to the students. Also their individual accounts were opened through their e-mails.

           </p>

           <h3>Suggestion Box – </h3>
           <p>
            Library provides a suggestion box for students.

           </p>

           <h3>Display Board  – </h3>
           <p>
           Library provides display board for showing new arrivals to students.

           </p>

           <h3>Other Programmes   – </h3>
           <p>
           Following programmes are conducted in the library –<br>
            1.	S.R.Ranganathan Jayant<br>
            2.	B.R.Ambedkar Jayanti<br>
            3.	Chhatrapati Shivaji Maharaj Jayanti<br>
            4.	Anna Bhau Sathe & Lokmanya Tilak Punyatithi<br>

          

           </p>

           <h3>  HOSTEL:</h3>

           
           <p>
           There is separate Hostel facility for Boy’s & Girls:<br>
            1.	Hostel is Well Equipped.<br>
            2.	Well furnished & spacious rooms with attached Toilets & Bathrooms.<br>
            3.	Peaceful atmosphere providing creative environment.<br>
            4.	Safe Drinking Water & Electricity Facility.<br>
            5.	Wi – Fi Facility.<br>
            6.	Twenty four hours hot water.<br>
            7.	Twenty four hours Guard.<br>


           </p>

           <h3> PARKING:</h3>

           
           <p>
           1.	Specious Vehicle Parking facility is available<br>
            2.	Separate Vehicle parking facility is available for staff members and students.<br>
            3.	The supervision of security guards facility is available.<br>
            4.	Separate parking facility for cycles, two wheelers and four wheelers.<br>
            5.	Parking facility is free for all students and faculty members.<br>



           </p>


          <h3> CANTEEN:</h3>

           
           <p>
           1.	Well-furnished kitchen.<br>
            2.	Well-furnished seating arrangement for students in canteen.<br>
            3.	Separate arrangement for staff in canteen.<br>
            4.	Safe drinking water facility in canteen.<br>
            5.	Capacity of 80 students at a time.<br>
            6.	Fresh food available.<br>
            7.	Food quality checked by institution time to time.<br>
            8.	In canteen snacks and lunch also available.<br>



           </p>


           