<main class="content-area">
          <h2>Educational Psychology Curriculum Laboratory</h2>
					<p>The Laboratory is well equipped with all types of psychological tests and inventories, batteries etc.</p>
      

          <h3>* Some of the Psychology tests available::</h3>
           <p>
           1.	Intelligence Test<br>
						2.	Adjustment Inventory <br>
						3.	Teaching Aptitude Test Battery <br>
						4.	Job satisfaction scale for Teachers <br>
						5.	Interest Inventory <br>
						6.	Creativity Test <br>
						7.	Study Habits Inventory <br>
						8.	Concept Formation Test <br>
						9.	Personality Questionnaire <br>


           </p>
           <h3>Performance Tests:</h3>
           <p>1.	Intelligence Test<br>
							2.	Imagination Test

          </p>

      

           