<main class="content-area">
          <h2>The goals and objectives of the institution</h2>
          <h3>The objectives are as indicated in the mission statement. Vision and Mission statements are made known to all the stakeholders and are displayed at the entrance.</h3>
          <p>
            •	To inculcate national values and goals among the student teachers.<br>
            •	To cultivate rational thinking and scientific temper among the student teachers.<br>
            •	To foster creative thinking among the students for reconstruction of knowledge.<br>
            •	To help student teachers to acquire competencies relevant to stage–specific pedagogy, curriculum development, its transaction and evaluation.<br>
            •	To help student teachers to make effective use of community resources as educational
            inputs.<br>
            •	To develop skills for guidance among the student teachers which will help the student teachers to be aware about diversity and inclusion.<br>
            •	To bring awareness among the student teachers about national and international issues such as environment, population, gender equality, ICT literacy.<br>
            •	To make student teachers competent in teaching, administration and leadership.<br>
            •	To make the student teachers competent to live in modern society and information age.<br>
            •	To promote student teachers for placement with the use of competencies and skills needed for becoming an effective teacher.<br>


          </p>

        </main>