<main class="content-area">
          <h2>The Vision and Mission of the institution:</h2>
          <h3>Vision:</h3>
          <p>
            Imparting Quality Education in Teacher Education which leads to
            Inculcating national values, Creative reconstruction of knowledge,
            Acquire competencies and expertise in the field of education,
            Inculcating research culture among the student teachers.

          </p>
          <h3>Mission:</h3>
          <p>
            To mould pupil-teachers into rational thinkers, competent teachers and socially aware citizens
          </p>

        </main>