 <main>
 <h3>GUIDANCE AND COUNCELLING CELL:</h3>
 <p>
    Guidance and counselling services: Guidance and counselling services are provided to students for following activities.<br>
•   Career development.<br>
•	Personality development.<br>
•	Teaching skill development.<br>
•	Developments related with affective domain.<br>
•	Developing research attitude.<br>
•	Perusing higher education.<br>
•	Guidance and motivation for appearing for SET/NET examinations.<br>
•	Competitive examinations.<br>

 </p>

<div class="title">Grievance Redresal Committee 2024-25 :</div>

  <div class="table-wrapper">
            <table class="course-table">
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Name</th>
                  <th>Designation</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Prin Dr. A.K.Bondarde</td>
                  <td>Chairman</td>
                </tr>

                <tbody>
                <tr>
                  <td>2</td>
                  <td>Dr. A. M. Rangrej</td>
                  <td>Convener</td>
                </tr>

                <tbody>
                <tr>
                  <td>3</td>
                  <td>Dr. B.S.Bhave</td>
                  <td>Member</td>
                </tr>

                <tbody>
                <tr>
                  <td>4</td>
                  <td>Dr. D.S. Waghmare</td>
                  <td>Member</td>
                </tr>

                <tbody>
                <tr>
                  <td>5</td>
                  <td>Dr. V.J. Jokare</td>
                  <td>Member</td>
                </tr>

                <tbody>
                <tr>
                  <td>5</td>
                  <td>Smt. Deepali Durugkar</td>
                  <td>Student Member</td>
                </tr>
                </tbody>
            </table>
            </div>

                <h2>GRIEVANCE REDRESAL CELL:</h2>
                <h4>GRIEVANCE REDRESAL CELL:</h4>
                <p>
•	The students complaints grievances are resolved in discussion with the members of student council and the principal along with the staff-members.<br>
•	The complaints of parents are resolved by the principal after discussion with the student along with his /her parents & concerned staff.<br>
•	The student also drop their complaint, suggestions in a suggestion box. The suggestion box is opened once in a weak and the suggestions are discussed with the staff-members for implementation or acceptance or resolving.<br>
•	Provisions of right to information act, human/civil rights are available.<br>
•	All the teacher and principal give open visiting time for the students every day for their grievances redressal.<br>

                </p>

            <div class="table-wrapper">
            <table class="course-table">
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Name</th>
                  <th>Designation</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Prin Dr. A.K.Bondarde</td>
                  <td>Chairman</td>
                </tr>

                <tbody>
                <tr>
                  <td>2</td>
                  <td>Dr. A. M. Rangrej</td>
                  <td>Convener</td>
                </tr>

                <tbody>
                <tr>
                  <td>3</td>
                  <td>Dr. B.S.Bhave</td>
                  <td>Member</td>
                </tr>

                <tbody>
                <tr>
                  <td>4</td>
                  <td>Dr. D.S. Waghmare</td>
                  <td>Member</td>
                </tr>

                <tbody>
                <tr>
                  <td>5</td>
                  <td>Dr. V.J. Jokare</td>
                  <td>Member</td>
                </tr>

                <tbody>
                <tr>
                  <td>5</td>
                  <td>Smt. Deepali Durugkar</td>
                  <td>Student Member</td>
                </tr>
                </tbody>
            </table>
            </div>


</main>