<main class="content-area">
  <h2> Students Support:</h2>
  
  <h3>PLACEMENT CELL:</h3>
  <p>
    Student Placement: The students get trained with hands on experience in relevant schools due to internship during their project work/field work.
This   helps in better understanding the schools.  Many schools hold interviews to recruit the gifted students who prove to be their asset at a later stage. The institution has established a Placement Cell in order to cater to the needs of the students and better placement of our students.
I have great honour to invite you to this glorious Teacher Education Institution to get Education and Training in our Institution for most respectable teacher profession.
<br>

  </p>

  <p>
    Placement Services: The institution has placement cell which gives detailed information to students about the vacancies in various schools, institutions and institutions. The teachers work as subject experts in the selection processes of different institutions. The placement cell in-charge, Principal and concerned teachers give their recommendations for the selection of a particular student. The placement cell also carries following processes till the student gets job.
  </p>

 <h3> Placement cell process involves following activities.</h3>
 <p>
•	Preparation of Method wise distribution and profile of students.<br>
•	Demand from schools, institutions.<br>
•	Provide information to the students.<br>
•	Recommendation for appointment.<br>

 </p>
 <div class="title">Placements made in the last two years:</div>


<div class="table-wrapper">
<table class="course-table">  
    <tr>
        <th rowspan="2">Course</th>
        <th colspan="2">Year</th>
        <th rowspan="2">Total No. of students</th>
    </tr>
    <tr>
        <th>2023-24</th>
        <th>2024-25</th>
    </tr>
    <tr>
        <td>B. Ed</td>
        <td>11</td>
        <td>17</td>
        <td>28</td>
    </tr>
    <tr>
        <td>M. Ed.</td>
        <td>02</td>
        <td>03</td>
        <td>05</td>
    </tr>
</table>
</div>

</main>