<main class="content-area">
          <h2>Information about B.Ed. Course</h2>
          <p>
           (Affiliated to Punyashlok Ahilyadevi Holkar Solapur University, Solapur)<br>
            B. Ed. Admission Intake Capacity: 50<br>
            1) Jain Minority: 25 Seats<br>             
            2) Other Category (Govt. Seats): 25 Seats<br>

          </p>

          <h3>Admissions & number of seats will be according to Maharashtra State Government norms.</h3>
           <p>
           The B.Ed. Course is of Two year:
          * This course is of 2400 Marks.<br>
          * The examination for the degree of B.Ed. will be conducted only twice in one academic year.<br>
          * The Curriculum of Bachelor of Education:<br>
          (Theory course)<br>
          * The examination for the Bachelor of Education.<br>
          1) Theory Course (800 Marks and 32 credits)<br>  
          2)  Practicum Course (1500 Marks and 60 credits)<br>
          3) Viva Voce (100 Marks and 04 credits)<br>
          Basic Subjects:

           </p>

           <h3>Curricular Area A: Perspectives in Education</h3>
           <p>
            Semester I  :  Childhood and Growing up<br>
            Semester II  :  Learning and Teaching<br>
            Semester II : Contemporary India and Education<br>
            Semester III  :  Knowledge and Curriculum Part I<br>
            Semester III : Assessment for Learning<br>
            Semester IV : Gender, school and Society<br>
            Semester IV : Knowledge and Curriculum Part II<br> 
            Semester IV : Creating an Inclusive school<br> 

           </p>
           <h3>Curricular Area B: Curriculum and pedagogy Studies</h3>
           <p>
            Curricular Area B: Curriculum and pedagogy Studies
            Semester I : Language Across the Curriculum
            Semester I : Understanding Disciplines and subjects
            Semester II : Pedagogy of the school subject One
            Semester III : Pedagogy of the school subject Two

           </p>
           <h3>Curricular Area C: Engagement with the Field</h3>
           <p>
            * Practice Lessons<br> 
          * Social Service<br>  
          * Enhancing Teaching Skills<br>    
          * Tutorials<br> 
          * Physical & Health Education<br>  
          * Practical work related to theory papers<br>
          * Enhancing Professional Capacities (EPC)<br>  
          * Practical work related to theory papers<br>
          * Internal Examination<br>
          * Creativity & personality Development programme<br>
          * Internship of Eleven weeks<br>
          * Skill Oriented Course (SOC)<br>


           </p>