<main class="content-area">
          <h2>Information about DSM Course</h2>
          <p>
           (Affiliated to Yashwantrao Chavan Maharashtra Open University, Nasik.)<br>
            The DSM Course is of one year:<br>
            * This course is of 800 Marks.<br>
            The Curriculum of Diploma in School Management:<br>
            1)  Practicum Course (240 Marks) – * Assignment Writing – 140 marks.
                                                                      * Action Research & Viva-voce – 100 Marks.<br>


          </p>

          <h3>Basic Subjects:.</h3>
           <p>
           Paper I – Educational Management – New Approach.<br>     
            Paper-II – Educational Management.<br>
            Paper III – Official Educational Management.<br>                             
            Paper IV – Financial Educational Management.<br>
            Paper V – School Building & Physical facilities.<br>                                           
            Paper VI – Students service, welfare and Scholarships.<br>
            Paper VII – Management of Human Relationship.<br>                                


           </p>

           <h3>Practical Work:</h3>
           <p>
            * Action Research <br>   
            * Assignment Writing: 140 Marks.  <br>
            * Viva-voce: 100 Marks <br>
            * Theory Examination: 560 Marks <br>
            DSM Admission Intake Capacity: – 60. <br>


           </p>


           