<main class="content-area">
          <h2>Information about M.A. Education Course (YCMOU)</h2>
          

          <h3>A(Affiliate: Yashwantrao Chavan Maharashtra Open University, Nasik.)
          The M.A. Education Course is of two years:
          </h3>

           <p>
           The B.Ed. Course is of Two year:
          * This course is of 2400 Marks.<br>
          * The examination for the degree of B.Ed. will be conducted only twice in one academic year.<br>
          * The Curriculum of Bachelor of Education:<br>
          (Theory course)<br>
          * The examination for the Bachelor of Education.<br>
          1) Theory Course (800 Marks and 32 credits)<br>  
          2)  Practicum Course (1500 Marks and 60 credits)<br>
          3) Viva Voce (100 Marks and 04 credits)<br>
          Basic Subjects:

           </p>

           <h3>Compulsory Subjects for FIRST YEAR:</h3>
           <p>
            Paper I- Philosophical & Sociological Foundations of Education.<br>    
            Paper-II – Psychological Foundations of Education.<br>
            Paper III- Methodology of Educational Research & Application of Statistics.  <br>                         
            Paper IV-Instructional System Design.<br>


           </p>

           <h3>Compulsory Subjects for SECOND YEAR </h3>
           <p>
            Paper V – Communication in Education.<br>
            Paper VI- Educational Measurement & Evaluation. <br> 
 


           </p>

           <h3>Optional Subjects for SECOND YEAR   </h3>
           <p>
            Paper VII- Educational Organization & Administration.<br>
            Paper VIII- Educational Planning.
                                        OR   
            Paper VII- Adult & Continuous Education. <br>
            Paper VIII- Informal Education.<br>
            Practical Work:<br>
            * Dissertation & Viva-voce  <br>   
            M. A. Admission Intake Capacity: 50<br>



           </p>