<main class="content-area">
          <h2>Information about M.Ed. (Regular) Course</h2>
          <p>
           M. Ed. Admission Intake Capacity: 50<br>
          1) Jain Minority: 25 Seats<br>                                    
          2) Other Category (Govt. Seats): 25 Seats<br>
          <h3><h3>Admissions & number of seats will be according to Maharashtra State Government norms.</h3>
          <p>
          The M.Ed. Course is of two year:<br>
          * This course is of 2400 Marks.<br>
          </p>

          </p>

          <h3>SEMISTER I: 600 MARKS</h3>
           <p>
           Paper 1: Psychology of learning and development.<br>
          Paper 2: History and political economy of Education.<br>              
          Paper 3: Educational studies.<br>                              
          Paper 4: Introduction to research method.<br>                                      


           </p>

           <h3>SEMISTER II:  600 MARKS</h3>
           <p>
          Paper 1: Philosophy of Education.<br>
          Paper 2: Sociology of Education.<br>               
          Paper 3: Curriculum studies.<br>                  
          Paper 4: Teacher Education -I.<br>                                      


           </p>
           <h3>SEMISTER III:  600 MARKS</h3>
           <p>
           Paper 1: Advance research method.<br>
          Paper 2: Teacher Education – II<br>             
          Paper 3: Elementary Education.<br>                 
          Paper 4: Secondary Education.<br>                                      

           </p>
           <h3>SEMISTER IV:  600 MARKS</h3>
           <p>
           Paper 1: Psychological Foundations of Education.<br>
          Paper 2: Educational Management and Planning.<br>               
          Paper 3: Environmental Education.<br>                 
          Paper 4: Inclusive Education.<br>                                     
          Paper 5: Education and Peace,br>
          Paper 6: Indian constitution and Education<br>
          Paper 7: Guidance and Counselling<br>



           </p>