<main class="content-area">
          <h2>Ph. D. (Education)</h2>
          <p>
          (Affiliated to P. A. H. Solapur University, Solapur.)
*This course is of Three Years (Minimum):
* Eligibility: Should have Passed M.Ed. or M.A. Education with B+
This course is of Total 300 Marks including Theory & Practical:
1) Theory Course: 240 Marks<br>
2) Practicum Course: 60 Marks<br>
3)  Viva-Voce<br>

          </p>

          <h3>* The Curriculum of Ph.D. (Education) Course:</h3>
          <h4>* Subjects:</h4>
           <p>
           Paper I – Research Methodology<br>
Paper-II – Information and Computer Technology<br>
Paper III – Advance Knowledge in Core domain of Education<br>


           </p>

           <h4>Practical Work:</h4>
           <p>
* Research article <br>                                     
* Seminar<br>
* Field Visits<br>                                               
* Presentation of paper<br>
* Doing review of research<br>                      
* Doing review of literature<br>
* Participation in research festival<br>         
* Participation in workshops<br>
* Participation course work<br>                
* Discussion session on research topics<br>
* Tutorial<br>                                                      
* Write up<br>
Ph. D. Intake capacity:   As per vacant seats in research centre<br>
           </p>

           
           <p style="font-weight: bold; font-size: 20px;">Admissions & number of seats will be according to P.A.H. Solapur University, Solapur.</p>
           <h3>Institution is recognised research centre of the University.</h3>

           <div class="table-wrapper">
            <table class="research guide">
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Name of the Research Guide</th>
                  

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Prof. (Dr.) Bondarde Ashwin</td>
                
                </tr>
                <tr>
                  <td>2</td>
                  <td>Prof. (Dr.) Rangrej Ayesha</td>
                  
                <tr>
                  <td>3</td>
                  <td>Prof. (Dr.) Bhave Balkrishnah</td>
              
                </tr>
                <tr>
                  <td>4</td>
                  <td>Prof. (Dr.) Waghmare Datta </td>
                  
                </tr>
                <tr>
                  <td>5</td>
                  <td>Prof. (Dr.) Bhoje P. R. </td>
                  
                </tr>
                <tr>
                  <td>6</td>
                  <td>Prof. (Dr.) Shinde Keshav</td>
                  
                </tr>
                <tr>
                  <td>7</td>
                  <td>Prof. (Dr.) Kidgaonkar V. P.</td>
                  
                </tr>
                <tr>
                  <td>8</td>
                  <td>Prof. (Dr.) Bamane Lata</td>
                
                </tr>
                <tr>
                  <td>9</td>
                  <td>Prin. Dr. Kshirsagar Shrirang</td>
                  
                </tr>
                <tr>
                  <td>10</td>
                  <td>Prin. Dr. Hiremath Rajshekhar</td>
            
                </tr>
                <tr>
                  <td>11</td>
                  <td>Prin. Dr. Wadwan Mahejabeen</td>
                  
                </tr>

                 <tr>
                  <td>12</td>
                  <td>Prin. Dr. Patil S. K.</td>
                  
                </tr>

                <tr>
                  <td>13</td>
                  <td>Dr. Shinde Anand.</td>
                  
                </tr>

                <tr>
                  <td>14</td>
                  <td>Dr. Ganapur Shivkumar.</td>
                  
                </tr>

                
                
              </tbody>
            </table>
          </div>